@mixin tiny-screens() {
  @media only screen and (max-width: 320px) {
    @content;
  }
}

@mixin small-screens() {
  @media only screen and (max-width: 480px) {
    @content;
  }
}

@mixin medium-screens() {
  @media only screen and (max-width: 680px) {
    @content;
  }
}

@mixin large-screens() {
  @media only screen and (max-width: 960px) {
    @content;
  }
}


// Mixin to import a font from the Google Font directory - all we need to do is to give it the name of the font 
// Make sure the font is in the correct format for a URL request - we use a built in SCSS function unquote()
@mixin google-font($font) {
  $font : unquote($font);
  @import url(https://fonts.googleapis.com/css?family=#{$font}); // The # is the interpolation varialbe -> like $ in JS backtick strings
}
// NOTE : YOU CAN ONLY USE THE ABOCE INTERPOLATION SYNTAX IN THE CONTEXT OF IMPORTS WHEN YOU'RE DOING CSS IMPORTS - SO YOU CANNOT IMPORT SCSS FILES BASED ON SOME VARIABLE NAMES

@mixin warning {
  background-color: orange;
  color: #fff;  
  &:hover {
    background-color: lighten(orange, 15%);
  }
}

@mixin large-text {
  font: {
    size: 22px;
    weight: bold;
  }
}

@mixin rounded($radius: 6px) {
  border-radius: $radius;
}

@mixin box($radius: 6px, $border: 1px solid #000) {
  @include rounded($radius);
  border: 4px solid #333;
}

@mixin fancy-links {
  a {
    font-style: italic;
    text-decoration: none;
  }
}

@mixin box-shadow($shadows...) {
  box-shadow: $shadows;
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
}

@mixin apply-to-ie6 { // Applies the content only to IE6
  * html { // WORK AROUND TO HAVE SOME STYLE ONLY APPLY TO IE6
    @content; // This will fill in any content that we pass in to our mixin
  }
}

@mixin CSK {
  @if $client == CSK {
    @content;
  }
}

@mixin RCB {
  @if $client == RCB {
    @content;
  }
}

@mixin KKR {
  @if $client == KKR {
    @content;
  }
}